<!DOCTYPE html>
<head>
    <title><%= itemName %></title>
</head>
<body>
    <form action="/edititem/edit" enctype="multipart/form-data" method="post">
        <input type="text" name="itemName" value="<%= itemName %>"></input>
        <input type="hidden" name="itemName_" value="<%= itemName %>"></input>
        <br/>
        <input type="file" name="image"></input>
        <input type="hidden" name="imageForNull" value="<%= image %>"></input>
        <br/>
        <input type="text" name="price" value="<%= price %>"></input>
        <br/>
        <input type="submit" value="수정"></input>
    </form>
</body>